@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

$global-black: #000000;
$global-white: #FFFFFF;
$global-green: #7AFFA7;
$global-green-gradient: linear-gradient(126deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 255, 87, 0.60) 100%);
$global-red: #FF8A7A;
$global-red-gradient: linear-gradient(126deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 138, 122, 0.60) 100%);
$global-font: Inter;

@mixin font-style($font-size: 34px, $font-weight: 700) {
  color: $global-black;
  font-family: $global-font;
  font-size: $font-size;
  font-style: normal;
  font-weight: $font-weight;
  line-height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  padding: 20px 40px 20px;
  margin: 0 auto;
}

.App__header {
  @include font-style(37px, 700);
  letter-spacing: 47px;
  text-transform: uppercase;

  display: flex;
  margin: 0 auto 30px;
  justify-content: center;
  align-items: center;
}

.App__tabs {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 0.5fr))  1.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}



